#signature {
    margin-top: 1rem;
}

#localSignature {
    display: flex;
    justify-content: center;
    margin: 0;
    color: #a1a1a1;
}

#name {
    font-size: 80%;
    font-weight: 500;
    display: flex;
    justify-content: center;
}