#ContainerDeclaration {
    border: #aaaaaa 1px solid;
    padding: 1rem;
    padding: 2rem 5rem 0 5rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

#titleDeclaration {
    font-size: 24pt;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

#declarant {
    font-size: 12pt;
}

#imageSignature {
    width: 7rem;
    display: flex;
    margin: 0 auto;
}

.declaration {
    text-align: justify;
    white-space: normal;
    font-size: 14pt;
    display: block;
    margin-bottom: 3rem;
}

#dateAutomomo {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8rem;
}

#dateUnionStable {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8rem;
}

#dateContainer {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-size: 14pt;
}

.declaration b {
    font-weight: 600;
}

#witness {
    white-space: normal;
    display: block;
}

#contactPhone {
    margin-top: 3rem;
}

#assinature,
#contactPhone {
    font-size: 14pt;
}

#containerSignature {
    display: flex;
    justify-content: center;
    height: 25vh;
}

#containerWitness {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.signature1 {
    padding-right: 0.5rem;
    border-right: black 1px solid;
    margin-right: 0.5rem;
}

#testemunha1 {
    padding-right: 0.5rem;
    border-right: black 1px solid;
    margin-right: 0.5rem;
}
#sig{
    margin-bottom: 0;
}

#sig,
#ass {
    display: flex;
    justify-content: center;
}