#containerData{
    border: 1px #a1a1a1 solid;
    margin: 1rem 0;
    padding: 0.5rem;
}

#containerData > p{
    font-weight: 500;
    font-size: 90%;
}

#registerReport{
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
}